# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Environment variables
.env

# Vendor directories
vendor/

# Node modules
node_modules/

# IDE specific files
.idea/
.vscode/

# OS specific files
.DS_Store
Thumbs.db
